*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

html {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: stretch;
}

body {
  display: flex;
  width: 100%;
}

#sidebar {
    background-image: url('unsplash.jpg');
    background-size: cover;
    background-position: center;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 22vh 0 12px 0;
    justify-content: space-between;
}

@font-face {
  font-family: norse;
  src: url(Norse-Bold.otf);
}

@font-face {
  font-family: roboto;
  src: url(Roboto-VariableFont_wdth\,wght.ttf);
}

#logo-text {
    color: white;
    font-family: norse;
    font-size: 6em;
    flex-basis: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-background {
    display: flex;
    background-color: rgba(0, 0, 0, .5);
    padding: 12px;
    height: 15vh;
    justify-content: center;
}

img {
  width: 100px;
  height: auto;
  object-fit: contain;
}

#content {
  width: 65%;
  font-family: roboto;
}

#footer {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.underlined {
  text-decoration: underline;
}

#top {
  background-color: rgb(249, 250, 251);
  height: 36%;
  line-height: 1.2;
  font-size: .75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 54px 48px;
}

#form > h1 {
  font-size: 1.5em;
  padding: 18px 0 18px 48px;
}

#form-inputs {
  display: flex;
  flex-wrap: wrap;
  padding: 0 200px 16px 48px;
  box-shadow: 0 12px 5px -6px #E4E5E6FF;
}

label {
  font-size: .75em;
}

#form-inputs > p {
  display: flex;
  flex-direction: column;
  padding: 0 72px 18px 0;
}

input {
  width: 256px;
  border-color: #E5E7EB;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  padding: 4px 8px 4px 8px;
}

.button {
  padding: 36px 0 36px 48px;
}

button {
  border: none;
  background-color: #596D48;
  color: white;
  font-weight: 500;
  font-size: 1.1em;
  padding: 12px 54px 12px 54px;
  border-radius: 8px;
  box-shadow: 6px 12px 5px -6px #E4E5E6FF;
}

#bottom {
  padding-left: 54px;
}

a {
  text-decoration: none;
  color: #596D48;
  font-weight: bold;
}

input:invalid {
  border: 1px solid rgb(202, 20, 20);
}

#pwrqmts{
  font-size: .8em;
}

input:focus {
  outline: none;
  border: 1px solid blue;
  box-shadow: 6px 12px 5px -6px #E4E5E6FF;
}